* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: 0;
    animation: pipe-animation 3s infinite linear;
}

.missel {
    position: absolute;
    width: 150px;
    bottom: 150px;
    right: 0;
    display: none;
}

.missel_shot {
    animation: missel-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump-animation 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 15s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80;
    }

    to {
        right: 100%;
    }
}

@keyframes missel-animation {
    from {
        right: -150;
    }

    to {
        right: 100%;
    }
}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

/* Responsividade para Smartphones */
@media (max-width: 768px) {
    .game-board {
        height: 350px;
        border-bottom: 10px solid rgb(35, 160, 35);
    }

    .mario {
        width: 100px;
    }

    .pipe {
        width: 60px;
        animation: pipe-animation 2.5s infinite linear;
    }

    .clouds {
        width: 350px;
        animation: clouds-animation 12s infinite linear;
    }

    .missel {
        width: 100px;
        bottom: 100px;
        animation: missel-animation 1.8s infinite linear;
    }

    @keyframes jump-animation {
        0% {
            bottom: 0;
        }

        40% {
            bottom: 120px;
        }

        50% {
            bottom: 120px;
        }

        60% {
            bottom: 120px;
        }

        100% {
            bottom: 0;
        }
    }

    @keyframes clouds-animation {
        from {
            right: -350px;
        }

        to {
            right: 100%;
        }
    }
}

@media (max-width: 480px) {
    .game-board {
        height: 280px;
        border-bottom: 8px solid rgb(35, 160, 35);
    }

    .mario {
        width: 80px;
    }

    .pipe {
        width: 50px;
        animation: pipe-animation 2s infinite linear;
    }

    .clouds {
        width: 280px;
        animation: clouds-animation 10s infinite linear;
    }

    .missel {
        width: 80px;
        bottom: 80px;
        animation: missel-animation 1.5s infinite linear;
    }

    @keyframes jump-animation {
        0% {
            bottom: 0;
        }

        40% {
            bottom: 100px;
        }

        50% {
            bottom: 100px;
        }

        60% {
            bottom: 100px;
        }

        100% {
            bottom: 0;
        }
    }

    @keyframes clouds-animation {
        from {
            right: -280px;
        }

        to {
            right: 100%;
        }
    }
}
